/*---------------------------------------------
* Cards Views 
---------------------------------------------*/
.card{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.card-head{
    padding: 20px;
    background: #ccc;
    color: #555;
}

.card-context{
    padding: 20px;
}

/*---------------------------------------------
* Product Views 
---------------------------------------------*/
.product{
	width: 100%;
}

.product-button{
   
}

.product-itens{
  
}

.product-image{
    width: 100%;
}

.product-title{

}

.product-sub-title{
    
}

.product-sub-money{
    
}

/*---------------------------------------------
* ReferenceBox - quotes from books or people
---------------------------------------------*/
.referencebox{
    font-style: italic;
    background:  rgba(242, 242, 242, 0.85);
    color: #777;
    border-left: 3px solid #ccc;
    font-size: 18px;
    line-height: 23px;
}

.referencebox-context{
    padding: 17px 20px;
}

.referencebox-author{
    margin-top: 10px;
    text-align: right;
}