/*---------------------------------------------
* Text Color
---------------------------------------------*/
.gp-color-red{
	color: #f1634b;
}

.gp-color-blue{
	color: #009bdd;
}

.gp-color-green{
	color: #00c86f;
}

.gp-color-yellow{
	color: #fdc149;
}

.gp-color-orange{
	color: #fe7800;
}

.gp-color-black{
	color: #2e2e2e;
}

.gp-color-grey{
	color: #999999;
}

.gp-color-white{
	color: #fafafa;
}

.gp-color-purple{
	color: #9c60b8;
}

/*---------------------------------------------
* Background Color
---------------------------------------------*/
.gp-background-red{
	background: #f1634b;
}

.gp-background-blue{
	background: #009bdd;
}

.gp-background-green{
	background: #00c86f;
}

.gp-background-yellow{
	background: #fdc149;
}

.gp-background-orange{
	background: #fe7800;
}

.gp-background-black{
	background: #2e2e2e;
}

.gp-background-grey{
	background: #999999;
}

.gp-background-white{
	background: #fafafa;
}

.gp-background-purple{
	background: #9c60b8;
}

/*---------------------------------------------
* Border Color
---------------------------------------------*/
.gp-border-red{
	border-color: #f1634b;
}

.gp-border-blue{
	border-color: #009bdd;
}

.gp-border-green{
	border-color: #00c86f;
}

.gp-border-yellow{
	border-color: #fdc149;
}

.gp-border-orange{
	border-color: #fe7800;
}

.gp-border-black{
	border-color: #2e2e2e;
}

.gp-border-grey{
	border-color: #999999;
}

.gp-border-white{
	border-color: #fafafa;
}

.gp-border-purple{
	border-color: #9c60b8;
}