/*---------------------------------------------
* Text Color
---------------------------------------------*/
.color-red{
	color: #f1634b;
}

.color-blue{
	color: #009bdd;
}

.color-green{
	color: #00c86f;
}

.color-yellow{
	color: #fdc149;
}

.color-orange{
	color: #fe7800;
}

.color-black{
	color: #2e2e2e;
}

.color-grey{
	color: #999999;
}

.color-white{
	color: #fafafa;
}

.color-purple{
	color: #9c60b8;
}

/*---------------------------------------------
* Background Color
---------------------------------------------*/
.background-red{
	background: #f1634b;
}

.background-blue{
	background: #009bdd;
}

.background-green{
	background: #00c86f;
}

.background-yellow{
	background: #fdc149;
}

.background-orange{
	background: #fe7800;
}

.background-black{
	background: #2e2e2e;
}

.background-grey{
	background: #999999;
}

.background-white{
	background: #fafafa;
}

.background-purple{
	background: #9c60b8;
}

/*---------------------------------------------
* Border Color
---------------------------------------------*/
.border-red{
	border-color: #f1634b;
}

.border-blue{
	border-color: #009bdd;
}

.border-green{
	border-color: #00c86f;
}

.border-yellow{
	border-color: #fdc149;
}

.border-orange{
	border-color: #fe7800;
}

.border-black{
	border-color: #2e2e2e;
}

.border-grey{
	border-color: #999999;
}

.border-white{
	border-color: #fafafa;
}

.border-purple{
	border-color: #9c60b8;
}