/*---------------------------------------------
* Fix-Message Component
---------------------------------------------*/
.fix-message{
	background: #444;
	color: #fff;
	font-size: 17px;
	line-height: 23px;
}

.fix-message-context{
	padding: 17px 20px;
	color: rgba(255, 255, 255, 0.9);
}

.fix-message-button{
	box-shadow: 0 0 0 0;
	border: 0 none;
	outline: 0;
	margin-top: 20px;
	padding: 5px 8px;
	font-weight: bold;
	color: #555;
	border-radius: 3px;
	cursor: pointer;
	background: rgba(242, 242, 242, 0.6);
}

.fix-message-button:hover{ 
	background: rgba(60, 60, 60, 0.8);
	color: #fff;
}

.fix-message-button:active{ 
	background: rgba(120, 120, 120, 0.6);
}

.fix-with-button{
	display: grid;
	grid-template-columns: auto 50px;
}

.fix-message-space{
	margin: 17px;
	border-radius: 3px; 
}

/*---------------------------------------------
* Table Component
---------------------------------------------*/
.table{

}

.table-tr{

}

.table-tr:nth-child(even){

}

.table-tr:nth-child(odd){

} 

.table-th{

}

.table-thead{

}

.table-td{

}

/*---------------------------------------------
* Checkbox Component
---------------------------------------------*/
.checkbox{

}

/*---------------------------------------------
* Radio Component
---------------------------------------------*/
.radio{
	
}

/*---------------------------------------------
* progress Component
---------------------------------------------*/
.progress{
	
}

/*---------------------------------------------
* List Component
---------------------------------------------*/

.list{
    border: 1px solid #ccc;
    border-radius: 4px;
} 	
       
.list > .list-item{
    padding: 13px 10px;
    border-bottom: 1px solid #ccc;
}

.list > .list-item:last-child{
    border-bottom: none;
    border-radius: 4px;
}

/*---------------------------------------------
* Form Component
---------------------------------------------*/
.form{
    width: 100%;
}

.form-label{
	
}

.form-input{
	border: 1px solid #ccc;
}

.form-input-style-down{
	border-bottom: 1px solid #ccc;
}

.form-input-style-background{
	background: #efeff5;
}

.form-button{
	
}

/*---------------------------------------------
* Button Component
---------------------------------------------*/
.button{
    padding: 15px;
}

.button-small{
    padding: 10px;
    font-size: 14px;
}

.button-medium{
	padding: 15px;
	font-size: 16px;
}

.button-large{
    padding: 25px;
    font-size: 18px;	
}


