/*---------------------------------------------
* Block Elements
---------------------------------------------*/
.gp-container{
	width: 70%;
	position: relative;
	transform: translateX(-50%);
	left: 50%;
}

.gp-container-expansive{
	width: 98%;
	position: relative;
	transform: translateX(-50%);
	left: 50%;
}

.gp-container-context{
	padding: 50px;
}


/*---------------------------------------------
* Grid Expansive Features
---------------------------------------------*/
.gp-grid-expansive-columns-2{
	display: grid;
	grid-template-columns: 50% 50%;
}

.gp-grid-expansive-columns-3{
	display: grid;
	grid-template-columns: 33.34% 33.33% 33.33%;
}

.gp-grid-expansive-columns-4{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.gp-grid-expansive-columns-5{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
}

.gp-grid-expansive-columns-6{
	display: grid;
	grid-template-columns: 16.61% 16.61% 16.61% 16.61% 16.66% 16.66%;
}

.gp-grid-expansive-columns-7{
	display: grid;
	grid-template-columns: 14.29% 14.29% 14.29% 14.29% 14.28% 14.28% 14.28%;
}

.gp-grid-expansive-columns-8{
	display: grid;
	grid-template-columns: 12.50% 12.50% 12.50% 12.50% 12.50% 12.50% 12.50% 12.50%;
}

.gp-grid-expansive-columns-9{
	display: grid;
	grid-template-columns: 11.12% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11%;
}

.gp-grid-expansive-columns-10{
	display: grid;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

/*---------------------------------------------
* Grid Auto Features
---------------------------------------------*/
.gp-grid-auto-columns-2{
	display: grid;
	grid-template-columns: auto auto;
}

.gp-grid-auto-columns-3{
	display: grid;
	grid-template-columns: auto auto auto;
}

.gp-grid-auto-columns-4{
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.gp-grid-auto-columns-5{
	display: grid;
	grid-template-columns: auto auto auto auto auto;
}

.gp-grid-auto-columns-6{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
}

.gp-grid-auto-columns-7{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
}

.gp-grid-auto-columns-8{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
}

.gp-grid-auto-columns-9{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto;
}

.gp-grid-auto-columns-10{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}

