/*---------------------------------------------
* Menu Features
---------------------------------------------*/
.gp-navbar{
	width: 100%;
}

.gp-navbar-position-fix{
    position: fixed;
    top: 0px;
    left: 0px;
}

.gp-navbar-position-relative{
    position: relative;
    top: 0px;
    left: 0px;
}

.gp-navbar-position-absolute{
    position: relative;
    top: 0px;
    left: 0px;
}

.gp-navbar-link{
    text-decoration: none;
}

.gp-navbar-search{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.gp-navbar-search-input{
    width: 100%;
}

.gp-navbar-search-button{
    width: 100%;
}

/*---------------------------------------------
* Sidebar Features
---------------------------------------------*/
.gp-sidebar{

}

.gp-sidebar-item{
    
}

.gp-sidebar-item:hover{
    
}

.gp-sidebar-item-group{
    
}

.gp-sidebar-item-icon{
    
}

.gp-sidebar-item-text{
    
}

