/*---------------------------------------------
* Menu Features
---------------------------------------------*/
.gp-navbar{
	width: 100%;
}

.gp-navbar-position-fix{
    position: fixed;
    top: 0px;
    left: 0px;
}

.gp-navbar-position-relative{
    position: relative;
    top: 0px;
    left: 0px;
}

.gp-navbar-position-absolute{
    position: relative;
    top: 0px;
    left: 0px;
}

.gp-navbar-link{
    text-decoration: none;
}

.gp-navbar-search{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.gp-navbar-search-input{
    width: 100%;
}

.gp-navbar-search-button{
    width: 100%;
}

/*---------------------------------------------
* Sidebar Features
---------------------------------------------*/
.gp-sidebar{
    width: 300px;
}

.gp-sidebar-item{
    
}

.gp-sidebar-item:hover{
    background: rgba(0, 0, 0, .3);
}

.gp-sidebar-item:active{
    background: rgba(0, 0, 0, .3);
}

.gp-sidebar-item-group{
    display: grid;
    grid-template-columns: 40px;
}

.gp-sidebar-item-icon{
    position: relative;
    transform: translateY(-50%);
    left: 50%;
    width: 100%;
}

.gp-sidebar-item-text{
    font-size: 15px;
}

