/*---------------------------------------------
* Elements Standard
---------------------------------------------*/
body{
	padding: 0px;
	margin: 0px;
}

h1 { 
	font-size: 25px;
	font-weight: bold;
}

h2 { 
	font-size: 23px;
	font-weight: bold;
}

h3 { 
	font-size: 19px;
	font-weight: bold;
}

h4 { 
	font-size: 17px;
	font-weight: bold;
}

h5 { 
	font-size: 13px;
	font-weight: bold;
}

h6 { 
	font-size: 11px;
	font-weight: bold;
}

/*---------------------------------------------
* Block Elements
---------------------------------------------*/
.container{
	width: 70%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.container-full{
	width: 98%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}


