/*---------------------------------------------
* Elements Standard
---------------------------------------------*/
body{
	padding: 0px;
	margin: 0px;
}

h1{

}

h2{
	
}

h3{
	
}

h4{
	
}

h5{
	
}

h6{
	
}

/*---------------------------------------------
* Block Elements
---------------------------------------------*/
.container{
	width: 70%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.container-full{
	width: 98%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

