/*---------------------------------------------
* Text Alignment
---------------------------------------------*/
.gp-text-left{
	text-align: left;
}

.gp-text-right{
	text-align: right;
}

.gp-text-center{
	text-align: center;
}

.gp-text-justify{
	text-align: justify;
}

/*---------------------------------------------
* Rounded Edges
---------------------------------------------*/
.gp-border-radius{
	border-radius: 4px;
}

.gp-border-radius-2x{
	border-radius: 8px;
}

.gp-border-radius-3x{
	border-radius: 16px;
}

.gp-border-radius-50{
	border-radius: 100%;
}

.gp-border-radius-100{
	border-radius: 100%;
}

/*---------------------------------------------
* Border Style
---------------------------------------------*/
.gp-border{
    border-width: 1px;  
    border-style: solid;
}

.gp-border-only-left{
	border-style: solid;
    border-left-width: 1px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.gp-border-only-right{
	border-style: solid;
    border-left-width: 0px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.gp-border-only-top{
	border-style: solid;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 0px;
}

.gp-border-only-bottom{
	border-style: solid;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
}


/*---------------------------------------------
* Marking Style
---------------------------------------------*/
.gp-brand{
	padding: 0px 3px;
}

.gp-brand-background{
	background: #e6e600;
	color: #999900;
}

/*---------------------------------------------
* Text transform
---------------------------------------------*/
.gp-text-lowercase {
	text-transform: lowercase;
}

.gp-text-uppercase {
	text-transform: uppercase;
}

.gp-text-italic{
	font-style: italic;
}

.gp-text-bold{
	font-weight: bold;
}

.gp-text-normal{
	font-style: normal;
	text-decoration
}

.gp-text-overline{
	text-decoration: overline;
}

.gp-text-line-through{
	text-decoration: line-through;
}

.gp-text-underline{
	text-decoration: underline;
}

.gp-text-underline-overline{
	text-decoration: underline overline;
}

/*---------------------------------------------
* Elements visible And invisible And show And hiddle
---------------------------------------------*/
.gp-element-visible{
    visibility: visible !important;
}

.gp-element-invisible{
    visibility: hidden !important;
}

.gp-element-show{
    display: block;
}

.gp-element-hiddle{
    display: none;
}

